@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
  color: #213547;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
  margin: 0;
}

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
}

.tiptap > :first-child {
  margin-top: 0;
}

.tiptap > :last-child {
  margin-bottom: 0;
}

.tiptap :where(hr) {
  border-color: #e5e7eb;
  border-top-width: 1px;
  color: inherit;
  height: 0;
  margin: 2.8em 0;
}

.tiptap :where(mark) {
  background-color: #fef08a;
  box-decoration-break: clone;
  padding: 0.15rem 0;
}

.tiptap :where(p) {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.tiptap :where(ul, ol) {
  margin: 1.25rem 0;
  padding-inline-start: 1.4em;

  li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

.tiptap :where(ul[data-type="taskList"]) {
  list-style: none;
  margin-left: 0;
  padding: 0;

  li {
    align-items: flex-start;
    display: flex;

    > label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      margin-top: 0.1em;
      user-select: none;
    }

    > div {
      flex: 1 1 auto;
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
  }

  input[type="checkbox"]:checked {
    background-color: currentColor;
    background-image: url('data:image/svg+xml,%3Csvg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12"%3E%3Cpath stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M1 5.917 5.724 10.5 15 1.5"/%3E%3C/svg%3E');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.65rem 0.65rem;
    border-color: transparent;
    print-color-adjust: exact;
  }

  ul[data-type="taskList"] {
    margin: 0;
  }
}
