*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb
}

:root {
  background-color: #ffffff;
  color: #213547;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

img,
svg {
  display: block;
  vertical-align: middle;
}

hr {
  border-color: #e5e7eb;
  border-top-width: 1px;
  color: inherit;
  height: 0;
  margin: 2.8em 0;
}

ul,
ol {
  margin: 1.25rem 0;
  padding-inline-start: 1.4em;

  li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

body, html {
  height: 100%;
  margin: 0;
}

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
}

.tiptap :where(mark) {
  background-color: #fef08a;
  box-decoration-break: clone;
  padding: 0.15rem 0;
}
